/*    OLD INVITE    */
.guildInviteContainer__083ae {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: end;
  justify-content: space-between;
  padding: 8px;
  gap: 8px;
  height: calc(48px + 72px);

  .cardHeightMeasure__083ae {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    gap: 8px;
    flex: 1 1 auto!important;
  min-width: 0;               
  }

  .mainContent__083ae,
  .established__6e500 {
    display: none;
  }

  .avatarContainer_dca174 {
    margin-top: 0px;
    padding: 0px;
    overflow: hidden;
    min-width: 48px;

    foreignObject {
      mask: none !important;
      overflow: hidden;
      border-radius: 16px;
    }

    >svg {
      width: 48px;
      height: 48px;
    }
  }

  .footer__083ae {
    width: fit-content;
    flex-shrink: 0 !important;
    height: 48px;
align-content: center;
    .buttonContainer__083ae {
      padding: 0px;
      width: fit-content;

      .button__201d5 {
        width: auto;
      }
    }
  }

  .header__6e500 {
    width: max-content !important;
    padding: 0px;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .nameContainer__6e500, .members__6e500, .memberCount__6e500{
      width: 100%!important;
      flex-wrap: nowrap;
    }

    [data-text-variant] {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .banner__083ae {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
  }
}

/* -------------------------------------------------------------------------------------------------------------- */

/* Sidebar cat */
.user-profile-sidebar::after {
    /* DIscord's color setup */
    --profile-gradient-start:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-primary-color));
    --profile-gradient-end:  color-mix(in oklab, var(--profile-gradient-overlay-color) 100%, var(--profile-gradient-secondary-color));
    /* The cat */
    content: 
   "  ╱|、   \a"
 "  (˚ˎ 。7  \a"
  "  |、˜〵\  \a"
"    じしˍ,)ノ";

    white-space: pre;
    inset: 0;
    padding: 20px;
    color: white;
    /* Also discords */
    background: linear-gradient(var(--profile-gradient-start), var(--profile-gradient-start) var(--custom-user-profile-banner-height), var(--profile-gradient-end));
    text-align: center;
    font-size: 150%;
}

/* -------------------------------------------------------------------------------------------------------------- */

.messageContent_c19a55, .compact_c19a55 .contents_c19a55 {
  position: unset !important;
}
.obscured.obscured {
  --__current--spoiler-content-opacity: 1;
  &.hidden__299eb > span {
    visibility: hidden;
  }
}
.mention, .roleMention__75297 {
  position: unset;
  filter: none;
}
.mentioned__5126c .interactive:is(.roleMention__75297, .mention) {
  &:before, &:after {
    content: "";
    position: absolute;
    background-color: var(--icon-feedback-warning);
    filter: saturate(var(--saturation-factor,1));
    pointer-events: none;
    visibility: visible;
  }
  &[style]:before, &[style]:after {
    background-color: currentColor !important;
  }
}
.mentioned__5126c .interactive:is(.roleMention__75297, .mention):before {
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
}
.mentioned__5126c .interactive:is(.roleMention__75297, .mention):after {
  border-radius: 0 var(--radius-xs) var(--radius-xs) 0;
  inset: 0;
  opacity: 8%;
  z-index: -1;
}
.interactive:is(.roleMention__75297, .mention) ~ .interactive, .interactive:is(.roleMention__75297, .mention) ~ .obscured .interactive, .obscured:has(.interactive) ~ .interactive, .obscured:has(.interactive) ~ .obscured .interactive, .repliedTextPreview_c19a55 .interactive {
  &:before, &:after {
    content: unset;
  }
}
.mentioned__5126c:has(.contents_c19a55 .interactive:is(.roleMention__75297, .mention)) {
  background: none !important;
  z-index: 0;
  &:hover, &.selected__5126c {
    .mention:after, .roleMention__75297:after {
      opacity: 4%;
    }
  }
}
